.category-list .listing-item {
    width: calc(33.33% - 20px);
    margin-bottom: 40px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    height: auto;
    /* Adjust height to auto */
    display: flex;
    /* Add flexbox */
    flex-direction: column;
    /* Set flex direction to column */
}

.category-list .listing-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.category-list .image-container {
    flex: 1;
    /* Expand image container to fill remaining space */
    overflow: hidden;
    border-radius: inherit;
    /* Inherit border radius from parent */
}

.category-list .image-container img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    /* Cover image to fill container */
    max-width: 100%;
}

.category-list .info {
    padding: 20px;
    text-align: center;
    overflow: hidden;
}

.category-title {
    text-decoration: none;
    /* Remove underline */
}