* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  position: relative;
  z-index: auto;
}

:root {
  --main-color: #d2b48c;
  --secondary-color: #deb887;
}

/* Add a margin to the right of the icon for spacing */

.search-options {
  display: flex;
  align-items: center;
}

.search-symbol {
  background-color: black;
  color: #fff;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  font-weight: bold;
}

.search-symbol i {
  margin-right: 5px;
}

.search-symbol:hover {
  background-color: #90999b;
}

.search-box {
  display: none;
  width: calc(100% - 225px);
}

.content {
  padding: 10px;
  margin-left: 20px;
  text-align: justify;
}

.container-fluid {
  white-space: nowrap;
  /* Prevent menu items from wrapping */
}
.signup-search-area {
  float: right;
}

#search-button-icon,
#search-button {
  background-color: #d2b48c;
  border-color: #d2b48c;
  /* border: none; */

  /* border: none; */
  font-size: 16px;
}

/* preheader */

/* Custom CSS */

.top-header {
  background-color: #d2b48c;
  /* Light brown background color */
}

.top-social a {
  color: #fff;
  /* White color for social media icons */
  font-size: 12px;
  margin-right: 20px;
}

.top-social a:hover {
  color: #afeeee;
}

.login_register_area .login a {
  color: #fff;
  /* White color for the "Sign in" text */
  text-decoration: none;
  /* Remove underline from the link */
}
/* nav wrapper */
.header {
  margin-top: 30px;
  margin-bottom: 30px;
}

.navbar {
  background-color: #fff;
  float: right;
}

.navbar-nav {
  display: flex;
  text-align: center;
  align-items: center;
}

.navbar-nav .nav-link {
  text-decoration: none;
  list-style: none;
  color: #000;
}

.navbar-nav .nav-link:hover {
  color: #d2b48c;
  transition: all 0.3s;
}

.vietnamese-recipes-btn:hover strong,
.about-btn:hover strong {
  color: #d2b48c;
  transition: all 0.3s;
}

.navbar {
  overflow: hidden;
  height: 0;
  transition: height 0.5s ease;
}
.navbar.open {
  height: auto;
}

#toggle {
  display: none;
  background: #fff;
  color: #d2b48c;
  text-align: left;
  padding: 10px 10px 0px 10px;
  font-size: 20px;
  cursor: pointer;
}

/* carousel */

.bg-img1 {
  background-image: url("https://as1.ftcdn.net/v2/jpg/01/38/50/68/1000_F_138506867_dd9mZE3wbHlQu4UrokM6V4Ia38ivvvJO.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
}

.bg-img2 {
  background-image: url("https://static.vinwonders.com/production/central-vietnam-food-banner.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
}

.bg-img3 {
  background-image: url("https://as2.ftcdn.net/v2/jpg/07/65/31/75/1000_F_765317508_aCNWmNJ9avwHAGHAd2DlWnFNZvZJvFVq.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
}

.carousel-btn-about,
.carousel-btn {
  background-color: #deb887 !important;
  border-color: #deb887;
}
.carousel-btn-about {
  color: #fff !important;
}
/* Define styles for button hover state */

.carousel-btn-about,
.carousel-btn:hover {
  background-color: #fff;
  border-color: #fff;
  transition: all 0.3s;
}

.carousel-caption a {
  color: #fff;
}

.carousel-caption a:hover {
  color: #fff;
}

/* cozy food */

.block-heading {
  margin-bottom: 30px;
}

.equal-img {
  width: 100%;
  height: 20vw; /*Adjust this if necessary */
  object-fit: cover;
  border-radius: 50px;
  overflow: hidden;
  margin-bottom: 10px;
}

.category-index {
  margin-top: 50px;
}

.category-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list-item {
  margin-bottom: 20px;
}

.category-title {
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
  color: #000;
  font-size: 16px;
}

.category-buttons {
  text-align: center;
}

.category-btn {
  background-color: #deb887 !important;
  border-color: #deb887 !important;
  margin-top: 10px;
}

.category-btn:hover {
  background-color: #d2b48c !important;
  border-color: #d2b48c !important;
  transition: all 0.3s;
}

.list-item a {
  text-decoration: none;
}

/* Recommentdation recipes */

.greatest-post {
  padding-top: 30px;
}

.greatest-post h2 {
  margin-bottom: 40px;
}

.greatest-post-one {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.greatest-img {
  max-width: 100%;
  border-radius: 10px;
  transition: transform 0.2s ease-in;
}

.greatest-img:hover {
  transform: translateY(-15px);
}

.greatest-title {
  text-align: center;
  margin-top: 20px;
}

.greatest-title a {
  text-decoration: none;
  color: #000;
}

.greatest-title a:hover {
  color: #deb887;
}

.greatest-title h6 {
  font-weight: bold;
  font-size: 24px;
}

/* footer */

.footer {
  margin-top: 50px;
  background-color: #d2b48c;
}

.footer .social a {
  color: #fff;
  font-size: 12px;
  margin-right: 20px;
}
.footer .social a:hover {
  color: #afeeee;
}
.nav-link-footer {
  text-decoration: none;
  list-style: none;
  color: #fff;
  padding-left: 12px;
}

.nav-link-footer:hover {
  color: #000;
}

.custom-list {
  list-style-type: none;
  /* Remove bullet points from the list */
}
.footer-btn-about {
  color: #fff !important;
}
.footer-btn-about:hover {
  color: #000 !important;
}

/* logo name */

.logo_name {
  color: #35190da4;
  font-family: cursive;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 2px;
  white-space: nowrap;
}
.logo_name_footer {
  font-size: 20px;
  color: #35190da4;
  font-family: cursive;
  font-weight: bold;
  letter-spacing: 2px;
  white-space: nowrap;
}
@media screen and (max-width: 768px) {
  #toggle {
    display: block;
    background-color: transparent;
  }

  .navbar {
    float: none;
  }

  .signup-search-area {
    float: none;
    justify-content: center;
  }

  .top-social {
    display: flex;
    justify-content: center;
  }
  .top-social a {
    margin: 12px; /* Adjust as needed */
  }

  #toggle {
    display: block;
    background-color: transparent;
  }

  .navbar {
    float: none;
  }

  .navbar-nav {
    margin-left: 30px;
    text-align: left;
    align-items: flex-start;
  }
  .nav-item {
    padding-left: 12px;
  }
  .equal-img {
    /* width: 50vw; */
    height: 50vw;
  }
}
