/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
} */

/* body {
  padding-top: 60px;
  overflow-x: auto;
}

.container {
  max-width: 1100px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
} */

#recipeGallery {
  margin-top: 40px;
}

a {
  text-decoration: none !important;
}

.recipe {
  width: calc(33.33% - 20px);
  margin-bottom: 40px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  height: 400px;
}

.recipe:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.image {
  width: 100%;
  height: 70%;
  overflow: hidden;
}

.image img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  max-width: 100%;
}

.info {
  padding: 10px;
  text-align: center;
  text-overflow: ellipsis;
}

.navbar h1 {
  font-family: "Courgette", cursive;
  font-size: 28px;
  font-weight: 600;
  font-style: normal;
}

h4,
.author,
.description {
  text-align: center;
}
h4 {
  /* font-size: 20px; */
  margin-top: 0;
  margin-bottom: 10px;
  color: #333;
}

/* .author {
    color: #666;
    margin-bottom: 10px;
  } */

/* .description {
  color: #666;
  margin-bottom: 20px;
  line-height: 1.6;
  max-width: 100%;
  font-size: 15px;
  line-height: 1.25;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
} */

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.pagination button {
  padding: 8px 20px;
  background-color: #d2b48c;
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.pagination button.active {
  background-color: #d2b48c;
}

.pagination button:hover {
  transform: scale(1.15);
}

.pagination button:hover {
  transform: scale(1.15);
}

.pagination .page-buttons {
  display: flex;
  flex-wrap: wrap;
}

.pagination .page-buttons button {
  margin: 5px;
}
